html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; 
}

.home-container {
    position: fixed; 
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url("../../../assets/images/home.jpg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

  

  .overlay {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
  }
  
  .overlay h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .overlay p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  

  .cta-button {
    background: #ff7f50;
    border: none;
    padding: 12px 24px;
    font-size: 1.2rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .cta-button:hover {
    background: #ff6347;
  }
  